@model IEnumerable<VictuZ_2._0.Models.Sessions.Session>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<!-- Alleen BoardMembers kunnen nieuwe sessies aanmaken -->
@* Controleer of de gebruiker is ingelogd en de rol "BoardMember" heeft *@
@if (User.Identity.IsAuthenticated && User.IsInRole("BoardMember"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.ActivityDate)</td>
                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                <td>@Html.DisplayFor(modelItem => item.CreatedBy.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Location.Name)</td>
                <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("BoardMember"))
                    {
                        <p>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
